@model IEnumerable<FileModel>
<table class="table">
    <thead>
        <tr>
            <th scope="col">File</th>
            <th scope="col">Type</th>
            <th scope="col">Shared</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>

                <td>
                    @if (file.Type == FileType.Folder)
                    {
                        <partial name="_RefPartial" model="file" />
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Download" asp-route-filename=@file.Name
                           asp-route-path=@file.Path>@file.Name</a>
                    }
                </td>
                <td>
                    @if (file.Type == FileType.Folder)
                    {
                        <i class="fa fa-folder"></i>
                    }
                    else
                    {
                        <i class="fa fa-file"></i>
                    }
                </td>
                <td>
                    @if (!file.isShared && file.Type==FileType.Folder)
                    {
                        <a class="fa fa-share" asp-controller="Home" asp-action="MakeShared" asp-route-path=@ViewBag.CurrentPath asp-route-folderId=@file.Id></a>
                    }
                    else
                    {
                        <a class="fa fa-share" />
                    }
                </td>

                <td>
                    <a asp-controller="Home" asp-action="Delete" asp-route-filename=@file.Name
                       asp-route-path=@file.Path asp-route-fileid=@file.Id id="flag" class="fa fa-trash"></a>
                </td>


            </tr>
        }

    </tbody>
</table>
