@model IEnumerable<FileModel>
<table class="table" id="reqtable">
    <thead>
        <tr>
            <th scope="col">File</th>
            <th scope="col">Type</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file  in Model)
        {
            <tr>

                <td>
                    @if (file.Type == FileType.Folder)
                    {
                        <a asp-controller="Common" asp-route-id=@ViewBag.CurrentId asp-route-ownername=@file.Owner.UserName asp-route-path=@String.Concat(file.Path,"\\",file.Name)>@file.Name</a>
                    }
                    else
                    {
                            @file.Name
                    }
                </td>
                <td>
                    @if (file.Type == FileType.Folder)
                    {
                        <i class="fa fa-folder"></i>
                    }
                    else
                    {
                        <i class="fa fa-file"></i>
                    }
                </td>
                <td>
                    @if (file.Type == FileType.Folder)
                    {
                      
                    }
                    else
                    {
                        <a asp-controller="Common" asp-action="Download" asp-route-folderId=@ViewBag.CurrentId asp-route-ownername=@file.Owner.UserName asp-route-path=@file.Path asp-route-filename=@file.Name class="fa fa-download"></a>
                    }
                </td>
                <td>
                    <a class="fa fa-trash-o" asp-controller="Common" asp-action="Delete" asp-route-folderId=@ViewBag.CurrentId asp-route-ownername=@file.Owner.UserName asp-route-path=@file.Path asp-route-filename=@file.Name></a>
                </td>
               

            </tr>
        }

    </tbody>
</table>
<div class="file-wrapper">
    <div class="container">
        <h1>Upload a file</h1>
        <div class="upload-container">
            <div class="border-container">
                <div class="icons fa-4x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                </div>
                <form asp-action="Load" asp-route-id=@ViewBag.CurrentId asp-controller="Common" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadedfile" />
                    <input value=@ViewBag.CurrentPath name="path" hidden />
                    <input value=@ViewBag.CurrentId name="id" hidden/>
                    <input value=@ViewBag.OwnerName name="ownername" hidden/>
                    <input type="submit" value="Загрузить" />

                </form>
                <p>
                    Drag and drop files here, or
                    <a href="#" id="file-browser">browse</a> your computer.
                </p>
            </div>
        </div>
    </div>
</div>
