@model IEnumerable<AddRequest>
<<table class="table" id="reqtable">
    <thead>
        <tr>
            <th scope="col">Folder</th>
            <th scope="col">Sender</th>
            <th scope="col">Data</th>
            <th scope="col">Yes</th>
            <th scope="col">No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>

                <td>@request.Name</td>
                <td>@request.FromUser.UserName</td>
                <td>@request.Date</td>
                <td> <a asp-controller="Request" asp-action="Accept" asp-route-requestid=@request.Id class="fa fa-check"></a></td>
                <td> <a asp-controller="Request" asp-action="Deny" asp-route-requestid=@request.Id class="fa fa-ban"></a></td>
            </tr>
        }

    </tbody>
</table>
<div id="chatroom"></div>
<script src="~/js/microsoft/signalr/dist/browser/signalr.min.js">
</script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();
    hubConnection.on("Notify", function (message) {
        let elem = document.createElement("p");
        elem.appendChild(document.createTextNode("!!!"));
        var firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);
    });
 //   hubConnection.on("Recieve", function (data) {

   //     let elem = document.createElement("p");
    //    elem.appendChild(document.createTextNode("Recieve+!!!!!!"));
     //   let firstElem = document.getElementById("chatroom").firstChild;
      //  document.getElementById("chatroom").insertBefore(elem, firstElem);
    //});
    
    hubConnection.on("Recieve", function (addrequest) {
        var table = document.getElementById("reqtable");
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);

        cell2.innerHTML = addrequest.from;
        cell1.innerHTML = addrequest.name;
        cell3.innerHTML = addrequest.data;
        cell4.innerHTML = ` <a href="Request/Accept?requestid =${addrequest.request.toString()}" class="fa fa-check"></a>`;
        cell5.innerHTML = ` <a href="Request/Accept?requestid = ${ addrequest.request.toString()}" class="fa fa-ban"></a>`;
     //   let elem = document.createElement("p");
      //  elem.appendChild(document.createTextNode("!!!!!"));
       // var firstElem = document.getElementById("chatroom").firstChild;
        //document.getElementById("chatroom").insertBefore(elem, firstElem);
    });

        hubConnection.start();
</script>
